/* geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
}

body {
    background-color: #1b7041;
}
textarea:focus, input:focus {
    outline: none;
}

a, label {
    font-size: .8rem; /* 16 * .8 = x */
}

a:hover {
    color: #1e8d2d;
}

/* container cadastro */

#cadastro-container-fluid {
    background-color: hsl(32, 97%, 58%);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
}

/* formulario */

form {
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input {
    display: block;
    width: 100%;
    text-align: left;
    border-radius: 10px;
}

label {
    font-weight: bold;
}

input {
    border-bottom: 2px solit #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}


input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #FFF;
    background-color: #0b6935;
    cursor: pointer;
}

.cad img {
    width: 100px;
    height: auto;
}


.select {
    margin: 8px;
    margin-left: auto;
    margin-right: auto;
    height: 15%;
}

#Funcao{
    width: 30%;
    border-radius: 10px;
    height: 25px;
}

#serie {
    width: 30%;
    border-radius: 10px;
    height: 25px;
}