* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
}

body{
    background-color: #07a154;
    justify-content: center;
}

#cadastro-container {
    background-color: hsl(32, 97%, 58%);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
}

form {
    margin-top: 30px;
    margin-bottom: 40px;
}

.login img {
    width: 100px;
    height: auto;
}

#titulo{
    font-family:Heveltica;
    color: #380B61;
    margin-left: 7%;
}

fieldset {
    border: 0;
}

#grupo {

}

input, select, textarea, button{
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
}

